#Exercício 04
x = int(input('Digite um número: '))
y = int(input('Digite outro número: '))
z = int(input('Digite mais um número: '))
if x>=y and x>=z:
    print(f'{x} é o maior')
elif y>=x and y>=z:
    print(f'{y} é o maior')
else:
    print(f'{z} é o maior')

if x<=y and x<=z:
    menor = x
elif y<=x and y<=z:
    menor = y
else:
    menor = z
print(f'{menor} é o menor')
